.line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  background: #F8D20A;
  height: 1px;
  z-index: 1;
}

.tab-circle {
  position: relative;
  z-index: 2;
}

.tab-link {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 45px;
  border: 2px solid #F8D20A;
  border-radius: 20%;
  text-align: center;
  background-color: #ffffff;
}

.tab-link.active {
  /* border-color: rgb(218, 27, 27); */
  /* border-width: 2px; */
  background-color: #F8D20A;
}

/* .tab-link:after {
  content: "";
  position: absolute;
  left: 40%;
  top: 129px;
  opacity: 0;
  border: 5px solid transparent;
  border-bottom-color: rgb(218, 27, 27);
}

.tab-link.active:after {
  content: "";
  position: absolute;
  left: 40%;
  top: 129px;
  opacity: 1;
  border: 10px solid transparent;
  border-bottom-color: rgb(218, 27, 27);
} */