.project-card-header {
    display: block;
    width: 100%;
}

.project-card-header-title {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.project-card-header-status {
    color: #5f676b;
    font-size: 0.9rem;
}

.project-card-item {
    display: block;
    background: #fff;
    width: 100%;
    padding: 0.75rem 1.5rem 0.75rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 0.25rem solid #999ebd;
    border-radius: 3px;
    box-shadow: 0 10px 6px -6px #777;
    transition: background-color 0.24s ease;
}

.project-card-item:hover {
    border-color: #006eff;
    background: #f5f5f5;
}

.project-card-win {
    border-color: #f1c711;
}

.project-card-win .project-card-price {
    color: #5aa12c;
}

.project-card-loss {
    border-color: #e92e00;
}

.project-card-loss .project-card-price {
    color: #e92e00;
}

.project-card-title {
    font-weight: 300;
    margin-top: 0;
}

.project-card-info {
    font-size: 0.9rem;
}

.project-card-menu {
    color: #929a9e;
    font-size: 0.9rem;
}

.project-card-price {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.project-card-overdue {
    color: #e92e00;
    font-weight: bold;
}